.post-title {
  font-weight: 500;
  margin: 0px;
}
.user-name {
  color: rgb(127, 127, 127);
  margin-top: 5px;
}
.time {
  color: rgb(127, 127, 127);
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}
.watch-logo {
  max-height: 1rem;
  margin-right: 0.3125rem;
}
.post-image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.image-container {
  background-color: rgb(181, 181, 181);
  height: 31.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 3.125rem;
  border-radius: 7px;
}
.options {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.user-button {
  all: unset;
  background-color: rgb(191, 223, 243);
  border-radius: 16px;
  display: flex;
  align-items: center;
  margin: 0px 30px;
}
.button-text {
  font-size: 0.9rem;
  font-family: quicksand;
  font-weight: 500;
  margin: 5px 15px 5px 3px;
}
.button-icon {
  max-height: 1.25rem;
  margin-left: 0.9375rem;
}
.reactions-container {
  display: flex;
  align-items: center;
}
.user-button.reaction {
  margin: 0px;
}
.button-icon.reaction {
  margin: 5px 15px;
}
.button-text.reactions-number {
  margin: 0px 7px;
}

/*--------MEDIA QUERIS--------*/
@media (max-width: 915px) {
  .image-container {
    margin: 0px auto;
    max-width: 90%;
  }
  .post-title {
    max-width: 100%;
    word-wrap: break-word;
  }
  .button-icon {
    max-height: 2rem;
  }
  .button-text {
    font-size: 1.2rem;
  }
  .button-icon.reaction {
    margin: 1px 8px;
  }
  .user-button {
    margin: 0px;
  }
  .options {
    justify-content: space-around;
  }
  .button-text.reactions-number {
    margin: 0px 2px;
  }
}
